<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.banqu.samsung.music">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalifeAppLauncherSamsung">

        <activity
            android:name=".OneUiHomeActivity"
            android:exported="false"
            android:configChanges="uiMode"
            android:label="@string/title_activity_one_ui_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalifeAppLauncherSamsung.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.banqu.music.CarUI">
            <intent-filter>
                <action android:name="samsung.intent.action.carlink.kit" />
            </intent-filter>
            <intent-filter>
                <action android:name="vivo.intent.action.carlink.kit" />

                <category android:name="vivo.intent.category.carlink.kit" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="carhost"
                    android:scheme="banqumusic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deeplink.DeepLinkService"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="deeplinkservice"
                    android:scheme="banqumusic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deeplink.Deepinkfake"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="deeplinkservice"
                    android:scheme="banqumusic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.StartActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.banqu.music.phoneUI"
            android:theme="@style/empty_activity_theme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.MyFragmentDisplayer"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.banqu.music.phoneUI"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".welcome.IntroducttoryActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.banqu.music.phoneUI"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".deeplink.MusicServiceDeepLink"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.banqu.music.CarUI"
            android:theme="@style/empty_activity_theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.banqu.samsung.music"
                    android:scheme="banqumusic" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".carlifeapplauncher.music.MusicServiceNotificationReceiver"
            android:exported="true" />

        <service
            android:name=".carlifeapplauncher.MyAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".carlifeapplauncher.music.MediaPlaybackService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name=".carlifeapplauncher.autostart.Detect"
            android:exported="true" />
        <service
            android:name=".carlifeapplauncher.NotificationListener"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <meta-data
        android:name="BaiduMobAd_STAT_ID"
        android:value="2621824db8" />

    <!-- 渠道商编号 -->
    <meta-data
        android:name="BaiduMobAd_CHANNEL"
        android:value="GDJ" />

    <!-- 是否开启错误日志统计，默认为false -->
    <meta-data
        android:name="BaiduMobAd_EXCEPTION_LOG"
        android:value="false" />

    <!-- 日志仅在wifi网络下发送，默认为false -->
    <meta-data
        android:name="BaiduMobAd_ONLY_WIFI"
        android:value="false" />

    <!-- 是否获取基站位置信息 ,默认为true -->
    <meta-data
        android:name="BaiduMobAd_CELL_LOCATION"
        android:value="false" />

    <!-- 是否获取GPS位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_GPS_LOCATION"
        android:value="false" />

    <!-- 是否获取WIFI位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_WIFI_LOCATION"
        android:value="false" />

</manifest>